.git/
.idea/
.vscode/
node_modules/

package-lock.json
yarn.lock
npm-debug.log
yarn-error.log

static/dist/
.iml
webpack-assets.json
webpack-stats.json
.happypack/
webpack/dlls/*.json
*.report.html
coverage/