# Logs
*.log
npm-debug.log*
yarn-error.log*

################
.DS_Store
node_modules/
package-lock.json
yarn.lock

###############
.idea/
.vscode/

#dist
###############
static/dist/
webpack-assets.json
webpack-stats.json
webpack/dlls/*.json

###############
*.report.html
coverage/
